<div class="loading-container" data-controller="location">
  <!-- Stars Background -->
  <div class="stars">
    <% 50.times do |i| %>
      <div class="star" style="
        left: <%= rand * 100 %>%;
        top: <%= rand * 100 %>%;
        animation-delay: <%= rand * 2 %>s;
        animation-duration: <%= 1.5 + rand * 2 %>s;
      "></div>
    <% end %>
  </div>
 <!-- Header -->
  <header class="app-header">
    <%# Translate all text of below to Brazilian Portuguese %>
    <h1>🌙 Artemis</h1>
    <p>Informações sobre a fase atual da lua</p>
  </header>

  <!-- Loading Animation -->
  <div class="loading-icon"></div>
    <p class="loading-text" data-location-target="loadingText">Localizando você....</p>
    <p class="loading-subtext" data-location-target="loadingSubtext">Nós precisamos da sua localização para mostrar dados precisos da lua</p>
</div>